@import '~bootstrap/scss/bootstrap';

@keyframes bouncing {
  0% {
    transform: translateY(10px);
  }

  50% {
    transform: translateY(12px);
  }

  100% {
    transform: translateY(10px);
  }
}

body {
  height: calc(calc(100vh) - 56px);
  margin-top: 56px;
  padding: 0;
}

.container {
  padding: 20px;
  width: 100%;
}

.sidebar {
  border: 1px solid #bbb;
  border-radius: 10px 0;
  bottom: 0;
  box-shadow: 5px 5px 6px #ddd;
  height: auto;
  margin: 40px 0;
  padding: 20px;
  position: sticky;
  right: 0;
  text-align: center;
  top: 65px;
  transition: height 1s ease-in;
  width: 220px;

  .menu-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .btn {
      margin: 10px;
    }
  }
}

.card {
  border: 0;
  margin: 0;
  padding: 0;
}

form {
  display: flex;
  flex-direction: column;

  h4 {
    align-self: flex-start;
    font-size: 18px;
  }

  input {
    border: 0;
    border-bottom: 1px solid grey;
    font-size: 14px;
    margin: 5px 10px;
    padding: 5px 10px;
  }
}

.icon-style {
  height: 20px;
  width: auto;
}

.sign-up-link {
  font-size: 12px;
}


.auth-message {
  display: flex;
  justify-content: center;
  margin: 10px auto;
  opacity: .9;
  padding: 0;
  position: absolute;
  width: 100%;
  z-index: 9;

  .alert {
    margin: 0;
    text-align: center;
  }
}

.modal-body-create-blog {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  padding: 40px;

  .title-input {
    font-size: 25px;
  }

  .content-input {
    font-size: 18px;
    line-height: 1.5em;
    margin-top: 20px;
  }
}

.greet-message {
  font-size: 16px;
}

.blog-container {
  box-sizing: border-box;
  display: flex;
  height: calc(calc(100vh)/2);
  justify-content: stretch;
  max-height: 450px;
  padding: 40px 10px;

  .blog-profile-pic-frame {
    border-radius: 5px;
    height: 75px;
    margin: 15px;
    width: 75px;

    .blog-profile-pic {
      height: 65px;
      margin: auto;
      width: 65px;
    }
  }

  .blog-post {
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    overflow: hidden;
    padding: 0;
    width: calc(calc(100%) - 75px);

    .blog-post-header {
      align-items: center;
      background-color: #eee;
      color: #777;
      display: flex;
      font-size: 14px;
      height: 60px;
      justify-content: space-between;
      margin: 0;
      padding: 10px 20px;
      width: 100%;

      & button {
        padding: 5px;
      }
    }

    .blog-post-title {
      margin: 0;
      max-height: 75px;
      padding: 5px 20px;
    }

    .blog-post-body {
      height: 275px;
      margin: 0 0 -40px;
      overflow: hidden;
      padding: 10px 20px;
    }

    .expand-wrapper {
      align-items: flex-end;
      background-image: linear-gradient(to top, rgba(255,255,255,1), rgba(0,0,0,0));
      bottom: 0;
      display: flex;
      height: 40px;
      justify-content: center;
      position: sticky;
      width: 100%;

      .expand-button {
        animation: bouncing 1.5s infinite;
        background: url('./assets/images/expand.png');
        background-position: center;
        background-size: cover;
        border: 0;
        height: 20px;
        opacity: .8;
        transform: translateY(10px);
        width: 20px;
      }

      .expand-button:hover {
        height: 22px;
        width: 22px;
      }
    }

    .blog-post-footer {
      background-color: #eee;
      color: #bbb;
      display: flex;
      font-size: 12px;
      height: 40px;
      justify-content: space-between;
      margin: 0;
      padding: 10px 20px;
      width: 100%;
    }
  }
}
