@import '~bootstrap/scss/bootstrap';

.container {
  margin-top: 65px;
}

.sidebar {
  border: 1px solid #000;
  bottom: 0;
  padding: 10px 5px;
  position: sticky;
  right: 0;
  text-align: center;
  top: 65px;

  & h2 {
    border-bottom: 1px solid #000;
  }
}

.sign-out-icon {
  height: 20px;
  width: auto;
}
